.mockup {
    width: 1231px;
    height: 331px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.5;
    pointer-events: none;
}

.container {
    display: block;
    width: 1231px;
    height: 331px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #090909;
}